@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

body {
  font-family: "Jomhuria", cursive;
  background-color: black;
  text-align: center;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
.game {
  margin: auto;
  background: url("./img/background.png") center/cover;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.play_header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.playbtn {
  font-size: 24px;
  background-color: burlywood;
  border: 4px solid black;
  width: 60px;
  height: 60px;
  transition: transform 300ms ease-in;
}

.playbtn:hover {
  transform: scale(1.1);
}

.timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 4px solid black;
  border-radius: 20px;
  font-size: 32px;
  margin-top: 8px;
}

.remain {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: salmon;
  border-radius: 50%;
  border: 2px solid black;
  color: white;
  margin-top: 8px;
  font-size: 50px;
}
.playground {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  position: relative;
}

.pop-up {
  display: block;
  margin: auto;
  width: 300px;
  height: 140px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  text-align: center;
  transform: translateY(-150%);
  border-radius: 20px;
}

.pup-up--hide {
  display: none;
}

.refresh {
  font-size: 24px;
  background-color: burlywood;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  transition: transform 300ms ease-in;
  border-radius: 50%;
}

.refresh:hover {
  transform: scale(1.1);
}
.message {
  display: block;
  font-size: 40px;
}
